{% extends 'shared/_layout.html' %}
{% load polls_extras %}
{% load static %}
{% block title %}
    مقالات
{% endblock %}

{% block main %}
    <main>
        <div class="container   px-4 px-sm-2" style="margin-top: 7rem !important;" >
            <div class="row">
                {#    article       #}
                <div class="col-12 col-lg-9 pe-0 ps-0 ps-lg-3" >
                    <section class="section__main__similar px-3 px-sm-0 mb-4">
                        <div class="row g-2 my-2">
                            <h1 class="fw-bold mb-3">{{ article_detail.title }}</h1>
                            <div class="col-md-5">
                                <!-- Article Image -->
                                <div class="mb-3">
                                    <img src="{{ article_detail.image.url }}" class="img-thumbnail rounded" alt="{{ article_detail.title }}">
                                </div>
                                <div class="col-6 d-inline-flex w-100 ">
                                    <a href="#" class="card-category " style="margin-left: 4px">
                                        {{ article_detail.author }}
                                    </a>
                                    {% for category in article_detail.selected_categories.all %}
                                        <a href="#" class="card-category me-2  ">
                                            <img src="{% static 'images/icons/Category.svg' %}" class="w-auto me-1" alt="">
                                            {{ category.title }}
                                        </a>
                                    {% endfor %}
                                    {% if article_detail.updated_at %}
                                        <a href="#" class="card-date ">
                                            <img src="{% static 'images/blog/Calendar.svg' %}" class="w-auto  me-1" alt="">
                                            {{ article_detail.updated_at|show_date }}
                                        </a>
                                    {% else %}
                                        <a href="#" class="card-date ">
                                            <img src="{% static 'images/blog/Calendar.svg' %}" class="w-auto  me-1" alt="">
                                            {{ article_detail.created_at|show_date }}
                                        </a>
                                    {% endif %}


                                </div>


                            </div>

                            <div class="col-md-7">
                                <div>{{ article_detail.text}}</div>
                            </div>


                        </div>
                    </section>
                </div>

            </div>

        </div>




        <div class="response-area container" id="comment_area">
            <h2> نظرات({{ comments_count }})</h2>
            <ul class="media-list" id="single_comment_box_{{ comment.id }}">
                {% for comment in comments %}
                    <li class="media">
                        <div class="media-body">
                            <ul class="sinlge-post-meta">
                                <li>{{ comment.user }}</li>
                                <li> {{ comment.created_at | time }}</li>
                                <li>
                                    {{ comment.created_at|show_date }}
                                </li>
                            </ul>
                            <p>
                                {{ comment.text }}
                            </p>
                            <a class="btn btn-secondary" onclick="fillParentId({{ comment.id }})">پاسـخ</a>
                        </div>
                    </li>

                    {% for sub_comment in comment.articlecomment_set.all %}
                        <li class="media second-media" id="single_comment_box_{{ comment.id }}">
                            <div class="media-body">
                                <ul class="sinlge-post-meta">
                                    <li>{{ sub_comment.user }}</li>
                                    <li> {{ sub_comment.created_at | time }}
                                    </li>
                                    <li>
                                         {{ sub_comment.created_at|show_date }}
                                    </li>
                                </ul>
                                <p>
                                    {{ sub_comment.text }}
                                </p>
                                
                            </div>
                        </li>
                    {% endfor %}


                {% endfor %}

            </ul>
        </div><!--/Response-area-->


        <div class="replay-box container form-control" id="comment_form">
            {% if request.user.is_authenticated %}
            	<div class="row">
                <div class="col-md-12">
                    <h2>نظـر خود را بنویسیـد</h2>
                    <div class="text-area">
                        <input type="hidden" value="" id="parent_id">
                        <div class="blank-arrow">
                            <label>متن پیام</label>
                        </div>

                        <textarea name="message" class="form-control" rows="11" id="commentText"></textarea>
                        <a class="btn btn-primary "  onclick="sendArticleComment({{ article_detail.id }})">ارسـال نظـر</a>
                    </div>
                </div>


            </div>
                {% else %}
                <div class="alert alert-danger">
                    <a href="{% url 'account_module:login_page' %}">برای درج نظر می بایست لاگین کنید</a>
                </div>
            {% endif %}

        </div><!--/Repaly Box-->

    </main>



    <!--Comments-->





{% endblock %}