{% load  static %}

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{% static 'css/bootstrap.rtl.min.css' %}">
<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">

<!-- Carousel CSS -->
<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'css/splide.min.css' %}">

<link rel="shortcut icon" href="{% static 'images/logo-imgs/logo.png' %}" type="image/x-icon" />

<!-- Login CSS -->

